<h1>トップ画面（３件まで）</h1>
<div class = "container">
  <div class = "row">
    <div class = "col-lg-3">
      <%= render 'public/users/list',keyword: @keyword, tag_lists: @tag_lists %>
    </div>
    <div class = "col-lg-9">
      <% @posts.each do |post| %>
        <table>
          <tr>
            <td>
              【<%= post.genre.name %>】
              <%= link_to post_path(post.id) do %>
                <%= post.title %>
              <% end %>
            </td>
            <td>投稿者：<%= post.user.nickname %></td>
          </tr>
          <tr>
            <td><%= post.created_at.strftime('%Y/%m/%d  %H:%M') %></td>
            <td></td>
            <td></td>
          </tr>
          <%#= @genre.name %>
          <%# if post.post_images.attached? %>
            <%# post.post_images.each do |image| %>
              <%#= image_tag image.variant(resize: '100x100').processed %>
            <%# end %>
          <%# end %>
        </table>
      <% end %>
      <%= link_to "全ての投稿を見る≫", posts_path %>
    </div>
  </div>
</div>


