<% if @inquiry.errors.any? %>
  <h3><%= @inquiry.errors.count %>件のエラーが発生しました。</h3>
  <ul>
    <% @inquiry.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<h1><i class="fas fa-fan"></i>お問い合わせ</h1>
<div class = "container-fluid">
  <div class = "row">
    <div class = "col-md-3">
      <%= render 'public/users/list',keyword: @keyword, tag_lists: @tags %></br>
    </div>
    <div class = "col-md-5 offset-md-1">
      <%= form_with model: @inquiry,url: confirm_path do |f| %>
        <table>
          <tr>
            <td><%= f.label :name, "お名前（必須）" %></td>
          </tr>
          <tr>
            <td><%= f.text_field :name, autofocus: true, class: 'form-control', placeholder: "ニックネームでOKです" %></td>
          </tr><tr>
            <td><%= f.label :message, "メッセージ（必須）" %></td>
          </tr>
          <tr>
            <td><%= f.text_area :message, size:"50x8", class: 'form-control',
                placeholder: "ご意見、感想、質問、通報etc" %></td>
          </tr>
          <tr>
            <td><%= f.submit '確認画面へ進む', class:"btn btn-primary" %></td>
          </tr>
        </table>
      <% end %>
    </div>
    <div class="col-md-2 offset-md-1">

    </div>
  </div>
</div>