<h1>会員情報詳細</h1>
<div class = "container">
  <div class = "row">
    <div class = "col-lg-3">
      <%= render 'list',keyword: @keyword, tag_lists: @tag_lists %>
    </div>
    <div class = "col-lg-9">
      <table>
        <tr>
          <td><%= image_tag @user.get_profile_image(200,200) %></td>
        </tr>
        <tr><td>
          <%= link_to user_path(@user.id) do %>
            <%= @user.nickname %>
          <%end%>
        </td></tr>
        <tr>
          <td><%= @user.introduction %></td>
        </tr>
        <tr>
          <td>
            <% if @user==current_user %>
              <%= link_to"プロフィール編集",edit_user_path(@user) %>
            <%end%>
          </td>
        </tr>
        <tr>
          <td><%= link_to "いいねした投稿", myfavorites_user_path(@user) %></td>
        </tr>
      </table>
      ～以下投稿履歴～

      <% @posts.each do |post| %>
        <table>
          <tr>
            <td>
              <%= link_to post_path(post.id) do %>
                <% if @user==current_user && post.post_status=="unpublish" %>
                  【非公開】
                <% elsif @user==current_user && post.post_status=="draft" %>
                  【下書き】
                <% end %>
                <%= post.title %>
              <%end%>
            </td>
            <td>
              <% if post.favorited_by?(current_user) %>
                ♥<%= post.favorites.count %> いいね
              <% else %>
                ♡<%= post.favorites.count %> いいね
              <% end %>
            </td>
            <td><%= post.created_at.strftime('%Y/%m/%d') %></td>
          </tr>
        </table>
      <%end%>

    </div>
  </div>
</div>