<!DOCTYPE html>
<html>
  <head>
    <title>Gardening</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%#= user_signed_in? %>
      <% if user_signed_in? %>
        ようこそ、<%= current_user.nickname %>さん！会員ページにログイン中
        <%= link_to "マイページ", user_path(current_user.id) %>
        <%= link_to "投稿一覧", posts_path %>
        <%= link_to "会員一覧", users_path %>
        <%= link_to "新規投稿", new_post_path %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>

      <% elsif admin_signed_in? %>
        (´･ω･`)管理者画面
        <%= link_to "投稿一覧", admin_root_path %>
        <%= link_to "会員一覧", admin_users_path %>
        <%#= link_to "●●一覧", admin_●●_path %>
        <%= link_to "ジャンル一覧", admin_genres_path %>
        <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
      <% else %>
        <%= link_to "ログイン", new_user_session_path,class: 'nav-link text-black' %>
      <% end %>

    </header>
    <%= yield %>
  </body>
</html>
